@media all and (max-width: 600px) {
  .HeroSec {
        
      align-items: center;
      margin-top: 3rem;
  }

  .leftContent {
    width: 100%;
  }

  .leftContent h2 {
    color: #92d362;
    width: 100%;
    text-align: center;
  }

  .rigthContent {
    display: none;
  }

  .heroImg {
      display: none;
  }

  .contentWrapper {
    height: 20rem;
    align-items: flex-start;
    
  }

  .handle {
    margin-top: 2rem;
    justify-content: center;
  }

   .handle p {
    font-size: 1rem;
  }

  .handle input {
    width: 9rem;
    height: 2.5rem;
    font-size: .7rem;
    margin: 0.3rem;
    color: black;
  }

  .handle button {
    width: 5em;
    height: 2.5rem;
    margin-left: 1.2rem;
  }

  .handle button p{
    color:black;
  }

    .error {
    font-size: 1rem;
  }
}
