@media only screen and (max-width: 600px) {
  .wraper {
    width: 95%;
    flex-direction: column;
    height: auto;
  }

  .logo h1 {
    font-size: 1.5rem;
  }

  nav {
    width: 100%;
    flex-wrap: wrap;
  }

  nav ul {
    width: 100%;
    flex-direction: column;
  }

  li {
    font-size: 0.8rem;
    padding: 30px 0; /* Ajout de l'espace pour le toucher */
  }

  button {
    width: 50px;
    font-size: 0.7rem;
  }

  .modal {
    height: auto;
  }

  .modal input {
    width: 80%;
  }
}
